{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-6 mx-auto">
        <h1 class="mt-5 mb-5 text-center">Changer de mot de passe</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}

            <button class="btn btn-lg btn-block btn-primary" type="submit">
            Modifier
        </button>
        {{ form_end(form) }}

        
    </div>
</div>

{% endblock %}