@import "~bootstrap/dist/css/bootstrap";
.alert {
    padding: 10px;
    color: white;
    text-align: center
}

.alert-success {
    background-color: green;
}

.alert-error {
    background-color: red;
}

.alert-info {
    background-color: blue;
}

.vich-image .form-check {
    margin-top: 20px;
}