<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>

        <nav>
            <a href="{{ path('app_home') }}">Accueil</a>
            <a href="{{ path('app_article_create') }}">Nouvelle article</a>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
