{% extends 'base.html.twig' %}

{% block title "Création d'un article" %}

{% block body %}

<div class="row">
    <div class="col-md-6 pt-5 mx-auto">
        <h1>Création d'un article</h1>

        {{ include('partials/_form.html.twig', { 'submitButtonText': 'Créer'}) }}
    </div>
</div>

{% endblock %}