{% extends 'base.html.twig' %}

{% block title "Modification d'un article" %}

{% block body %}

<div class="row">
    <div class="col-md-6 mx-auto">

        <h1>Modification de l'article #{{ article.id }}</h1>

        {{ include('partials/_form.html.twig', { 'submitButtonText': 'Modifier'}) }}
    </div>
</div>
{% endblock %}